<!DOCTYPE html>
<html>
<head>
	<title>codjango</title>
	<style>
		body {
			text-align: center;
			background-color: #7b8f89;
			color: #260a11;
		}
	</style>
</head>
<body>
<h1>Plan for Django newbies</h1>
<ul>
<li>let new django users ask question's and Get answers for them</li>
<p>Make django more easy for beginers(I did not said "Simple" I hate that word when a programmer use it.)</p>

<li>I was clear "make django easy".</li>
<li> How to use forms.py more easily </li>
<li> meaning how to add bootstrap classes for "forms.as_p" kind of things</li>

<li>I need an Registration and Login forms a Social auth</li>
<li>I will do it myself If nobody(who knows how to do it) is willing to help</li>
<li>It will be slower</li>
<li>Django needs a strong support website like laracast as it is to Laravel</li>
asking doubts in django mailing list is Old way(my opinion) of doing things

</ul>

<li>I want django to be better than any framework and widely used</li>

<h1>Summary:</h1>
<h3>I need a website which have people who give answers to my doubts fast </h3>
<h3>in django I find the established ways time consuming and repelling and demotivating</h3>
<h1>I need help implementing this Website</h1>
<h1>Task 1</h1>
<h2>Registration System using email Or Social accounts</h2>
<h2>I might do it</h2>
<h3>If you can do it fast</h3>
<h2>Help!!!</h2>
<h5>PS: I am a beginner!!! and Lazy!!!</h5>
</body>

</html>